[Unit]
Description=epaperShowSong
After=mpd.service

[Service]
User=pi
Group=pi
ExecStart=/usr/bin/python3 /home/pi/git/rpi/epaper/epaperShowSong.py

[Install]
WantedBy=multi-user.target
